.home{
    // background-image: url("./wp6621917-minimalist-abstract-wallpapers.jpg");
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    &-text-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:  center;
        flex-direction: column;
        h1{
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 6rem;
            line-height: 7rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffect 2.5s steps(30,end);
        }
        &-contact-me{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button{
                cursor: pointer;
                padding: 10px 70px;
                margin-top: 15px;
                font-size: 2rem;
                background: transparent;
                color: var(--yellow-theme-main-color);
                border: 1.5px solid var(--yellow-theme-main-color);
                border-radius: 4px;
                font-weight: 500;
                &:hover{
                    color: black;
                    background-color: var(--yellow-theme-main-color);
                }
            }
            div{
                display: flex;
                justify-content: space-evenly;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 550px){
    .home-text-wrapper{
        h1{
            font-size: 2rem;
            line-height: 4rem;

        }
    }
}
@media only screen and (min-width:551px) and (max-width: 768px){
    .home-text-wrapper{
        h1{
            font-size: 4rem;
            line-height: 5rem;

        }
    }
}
@media only screen and (min-width:769px) and (max-width: 990px){
    .home-text-wrapper{
        h1{
            font-size: 5rem;
            line-height: 6rem;
        }
        
    }
}

@keyframes typingEffect {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}