@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--yellow-theme-main-color);
    h2{
        font-size: 36px;
        font-weight: 1000;
        font-family: "Lato", sans-serif;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--yellow-theme-main-color);
        display: flex;
        flex-grow: 1;
    }
    span{
        svg{
            color: var(--yellow-theme-main-color);
        }
    }
}
